<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lib.bookbrain.dao.BookInfoMapper">
	<resultMap id="BaseResultMap" type="com.lib.bookbrain.model.entity.BookInfo">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result property="isbn" column="isbn" jdbcType="VARCHAR"/>
		<result property="cip" column="cip" jdbcType="VARCHAR"/>
		<result property="bookName" column="book_name" jdbcType="VARCHAR"/>
		<result property="bookType" column="book_type" jdbcType="VARCHAR"/>
		<result property="cover" column="cover" jdbcType="VARCHAR"/>
		<result property="author" column="author" jdbcType="VARCHAR"/>
		<result property="describe" column="describe" jdbcType="VARCHAR"/>
		<result property="publishedDate" column="published_date" jdbcType="DATE"/>
		<result property="publisher" column="publisher" jdbcType="VARCHAR"/>
		<result property="edition" column="edition" jdbcType="VARCHAR"/>
		<result property="printing" column="printing" jdbcType="VARCHAR"/>
		<result property="keyword" column="keyword" jdbcType="VARCHAR"/>
		<result property="lang" column="lang" jdbcType="VARCHAR"/>
		<result property="price" column="price" jdbcType="DECIMAL"/>
		<result property="creationTime" column="creation_time" jdbcType="TIMESTAMP"/>
		<result property="lastUpdatedTime" column="last_updated_time" jdbcType="TIMESTAMP"/>
		<result property="revision" column="revision" jdbcType="INTEGER"/>
		<association property="createdBy" column="created_by" javaType="com.lib.bookbrain.model.entity.User"
		             select="com.lib.bookbrain.dao.UserMapper.getByOperatorId"/>
		<association property="updatedBy" column="updated_by" javaType="com.lib.bookbrain.model.entity.User"
		             select="com.lib.bookbrain.dao.UserMapper.getByOperatorId"/>
	</resultMap>

	<select id="list" resultMap="BaseResultMap">
		select *
		from book_info;
	</select>
	<select id="count">
		select count(*)
		from book_info;
	</select>
	<insert id="insert" parameterType="com.lib.bookbrain.model.entity.BookInfo" useGeneratedKeys="true"
	        keyProperty="id">
		insert into book_info (`isbn`, `cip`, `book_name`,
		                       `book_type`, `cover`, `author`, `describe`, `published_date`,
		                       `publisher`, `edition`, `printing`,
		                       `keyword`, `lang`, `price`, `created_by`, `creation_time`,
		                       `updated_by`, `last_updated_time`, `revision`)
		values ( #{isbn}
		       , #{cip}
		       , #{bookName}
		       , #{bookType}
		       , #{cover}
		       , #{author}
		       , #{describe}
		       , #{publishedDate}
		       , #{publisher}
		       , #{edition}
		       , #{printing}
		       , #{keyword}
		       , #{lang}
		       , #{price}
		       , #{createdBy.id}
		       , NOW()
		       , #{updatedBy.id}
		       , now()
		       , 0)
	</insert>
	<update id="update" parameterType="com.lib.bookbrain.model.exchange.Payload">
		update book_info bif
		<set>
			<if test="entity.isbn != null and entity.isbn != ''">
				bif.`isbn` = #{entity.isbn},
			</if>
			<if test="entity.cip != null and entity.cip != ''">
				bif.`cip` = #{entity.cip},
			</if>
			<if test="entity.bookName != null and entity.bookName != ''">
				bif.`book_name` = #{entity.bookName},
			</if>
			<if test="entity.bookType != null and entity.bookType != ''">
				bif.`book_type` = #{entity.bookType},
			</if>
			<if test="entity.cover != null and entity.cover != ''">
				bif.`cover` = #{entity.cover},
			</if>
			<if test="entity.author != null and entity.author != ''">
				bif.`author` = #{entity.author},
			</if>
			<if test="entity.publishedDate != null">
				bif.`published_date` = #{entity.publishedDate},
			</if>
			<if test="entity.publisher != null and entity.publisher != ''">
				bif.`publisher` = #{entity.publisher},
			</if>
			<if test="entity.edition != null and entity.edition != ''">
				bif.`edition` = #{entity.edition},
			</if>
			<if test="entity.printing != null and entity.printing != ''">
				bif.`printing` = #{entity.printing},
			</if>
			<if test="entity.keyword != null and entity.keyword != ''">
				bif.`keyword` = #{entity.keyword},
			</if>
			<if test="entity.lang != null and entity.lang != ''">
				bif.`lang` = #{entity.lang},
			</if>
			<if test="entity.price != null">
				bif.`price` = #{entity.price},
			</if>
			<if test="entity.remark != null and entity.remark != ''">
				bif.`remark` = #{entity.remark},
			</if>
			<if test="entity.describe != null">
				bif.`describe` = #{entity.describe},
			</if>
			<if test="entity.updatedBy != null">
				bif.`updated_by` = #{entity.updatedBy.id},
			</if>
			<if test="1 == 1">
				bif.`last_updated_time` = NOW(),
				bif.`revision` = (1 + bif.`revision`) % 2147483647,
			</if>
		</set>
		where bif.`id` = #{id}
		and bif.`revision` = #{entity.revision}
	</update>
	<delete id="delete">
		delete bif
		from book_info bif
		where bif.`id` = #{id}
	</delete>
	<select id="getById" resultMap="BaseResultMap">
		select bif.`id`,
		       bif.`isbn`,
		       bif.`cip`,
		       bif.`book_name`,
		       bif.`book_type`,
		       bif.`cover`,
		       bif.`author`,
		       bif.`describe`,
		       bif.`published_date`,
		       bif.`publisher`,
		       bif.`edition`,
		       bif.`printing`,
		       bif.`keyword`,
		       bif.`lang`,
		       bif.`price`,
		       bif.`revision`,
		       bif.`remark`
		from book_info bif
		where bif.`id` = #{id}
	</select>

	<select id="getToUpdate" resultMap="BaseResultMap">
		select
		<trim suffixOverrides=",">
			<if test="entity.cover != null and entity.cover != ''">
				bif.`cover`,
			</if>
			<if test="entity.isbn != null and entity.isbn != ''">
				bif.`isbn`,
			</if>
			<if test="entity.cip != null and entity.cip != ''">
				bif.`cip`,
			</if>
			<if test="entity.bookName != null and entity.bookName != ''">
				bif.`bookName`,
			</if>
			<if test="entity.author != null and entity.author != ''">
				bif.`author`,
			</if>
			<if test="entity.bookType != null and entity.bookType != ''">
				bif.`bookType`,
			</if>
			<if test="entity.keyword != null and entity.keyword != ''">
				bif.`keyword`,
			</if>
			<if test="entity.lang != null and entity.lang != ''">
				bif.`lang`,
			</if>
			<if test="entity.price != null and entity.price != ''">
				bif.`price`,
			</if>
			<if test="entity.publisher != null and entity.publisher != ''">
				bif.`publisher`,
			</if>
			<if test="entity.publishedDate != null">
				bif.`published_date`,
			</if>
			<if test="entity.edition != null and entity.edition != ''">
				bif.`edition`,
			</if>
			<if test="entity.printing != null and entity.printing != ''">
				bif.`printing`,
			</if>
			<if test="entity.describe != null and entity.describe != ''">
				bif.`describe`,
			</if>
			<if test="entity.remark != null and entity.remark != ''">
				bif.`remark`,
			</if>
		</trim>
		from book_info bif
		where bif.`id` = #{id} and bif.`revision` = #{entity.revision};
	</select>

	<select id="filteredList" resultMap="BaseResultMap">
		select bif.`id`,
		bif.`isbn`,
		bif.`cip`,
		bif.`book_name`,
		bif.`book_type`,
		bif.`cover`,
		bif.`author`,
		bif.`describe`,
		bif.`published_date`,
		bif.`publisher`,
		bif.`edition`,
		bif.`printing`,
		bif.`keyword`,
		bif.`lang`,
		bif.`price`
		from book_info bif
		<where>
			<if test="entity != null">
				<if test="entity.isbn != null and entity.isbn != ''">
					and bif.`isbn` = #{entity.isbn}
				</if>
				<if test="entity.cip != null and entity.cip != ''">
					and bif.`cip` = #{entity.cip}
				</if>
				<if test="entity.bookName != null and entity.bookName != ''">
					and bif.`book_name` like concat(#{entity.bookName}, '%')
				</if>
				<if test="entity.bookType != null and entity.bookType != ''">
					and bif.`book_type` like concat(#{entity.bookType}, '%')
				</if>
				<if test="entity.publisher != null and entity.publisher != ''">
				    and bif.`publisher` like concat(#{entity.publisher}, '%')
				</if>
				<if test="entity.author != null and entity.author != ''">
					and bif.`author` like concat('%', #{entity.author}, '%')
				</if>
				<if test="entity.keyword != null and entity.keyword != ''">
					and bif.`keyword` like concat('%', #{entity.keyword}, '%')
				</if>
			</if>
		</where>
		<trim>
			<if test="filter != null">
				<if test="filter.page != null">
					limit #{filter.page.start}, #{filter.page.end};
				</if>
			</if>
		</trim>
	</select>

	<select id="getLengthByFilter" resultType="int">
		select count(*)
		from book_info bif
		<where>
			<if test="entity.isbn != null and entity.isbn != ''">
				and bif.`isbn` = #{entity.isbn}
			</if>
			<if test="entity.cip != null and entity.cip != ''">
				and bif.`cip` = #{entity.cip}
			</if>
			<if test="entity.bookName != null and entity.bookName != ''">
				and bif.`book_name` like concat(#{entity.bookName}, '%')
			</if>
		</where>
	</select>

	<select id="quickQuery" resultMap="BaseResultMap">
		select *
		from book_info bif
		<where>
			<if test="entity != null">
				<if test="entity.bookName != null">
					or bif.`book_name` like concat(#{entity.bookName}, '%')
				</if>
				<if test="entity.publisher != null">
					or bif.`publisher` like concat(#{entity.publisher}, '%')
				</if>
				<if test="entity.author != null">
					or bif.`author` like concat('%', #{entity.author}, '%')
				</if>
				<if test="entity.bookType != null">
					or bif.`book_type` like concat(#{entity.bookType}, '%')
				</if>
				<if test="entity.keyword != null">
					or bif.`keyword` like concat('%', #{entity.keyword}, '%')
				</if>
				<if test="entity.keyword != null">
					or bif.`keyword` like concat('%', #{entity.keyword}, '%')
				</if>
				<if test="entity.isbn != null">
					or bif.`isbn` = #{entity.isbn}
				</if>
				<if test="entity.cip != null">
					or bif.`cip` = #{entity.cip}
				</if>
			</if>
		</where>
		<trim>
			<if test="filter != null">
				<if test="filter.page != null">
					limit #{filter.page.start}, #{filter.page.end};
				</if>
			</if>
		</trim>
	</select>
	<select id="getInfoById" resultMap="BaseResultMap">
		select distinct bif.`id`,
		                bif.`isbn`,
		                bif.`cip`,
		                bif.`book_name`,
		                bif.`book_type`,
		                bif.`cover`,
		                bif.`author`,
		                bif.`describe`,
		                bif.`published_date`,
		                bif.`publisher`,
		                bif.`edition`,
		                bif.`printing`,
		                bif.`keyword`,
		                bif.`lang`,
		                bif.`price`
		from book_info bif
		where bif.`id` = #{id}
	</select>

	<select id="getByKeyword" resultMap="BaseResultMap">
		select *
		from book_info bif
		where bif.`id` = #{keyword}
			or bif.`book_name` like concat('%', #{keyword}, '%');
	</select>
</mapper>