<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lib.bookbrain.dao.ClcIndexMapper">
	<resultMap id="ClcNResultMap" type="com.lib.bookbrain.model.entity.ClcIndex">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result property="parent" column="parent" jdbcType="INTEGER"/>
		<result property="key" column="key" jdbcType="VARCHAR"/>
		<result property="value" column="value" jdbcType="VARCHAR"/>
		<collection property="children" column="id" ofType="com.lib.bookbrain.model.entity.ClcIndex"
		            select="getChildrenByParentId"/>
	</resultMap>
	<select id="getChildrenByParentId" resultMap="ClcNResultMap">
		select *
		from clc_index ci
		where ci.`parent` = #{id};
	</select>

	<select id="getById" resultType="com.lib.bookbrain.model.entity.ClcIndex">
		select *
		from clc_index ci
		where ci.`id` = #{id};
	</select>

	<insert id="insert">
		insert into clc_index(parent, `key`, value)
		VALUES (#{parent}, #{key}, #{value});
	</insert>

	<update id="update">
	</update>

	<delete id="delete">
		delete ci
		from clc_index ci
		where ci.`id` = #{id}
	</delete>

	<select id="getToUpdate" resultType="com.lib.bookbrain.model.entity.ClcIndex">
	</select>

	<select id="filteredList" resultType="com.lib.bookbrain.model.entity.ClcIndex">
		select *
		from clc_index ci
		<where>

		</where>
	</select>

	<select id="getLengthByFilter" resultType="int">
		select count(*)
		from clc_index ci
		<where>

		</where>
	</select>
	<select id="firstLevel" resultType="com.lib.bookbrain.model.entity.ClcIndex">
		select *
		from clc_index ci
		where ci.`parent` = 0;
	</select>


	<select id="getByKeyword" resultType="com.lib.bookbrain.model.entity.ClcIndex">
		select ci.id, ci.`key`, ci.value
		from clc_index ci
		where ci.`key` like concat(#{keyword}, '%')
		limit 50;
	</select>

	<select id="getByParent" resultType="com.lib.bookbrain.model.entity.ClcIndex">
		select *
		from clc_index ci
		where ci.`parent` = #{parent}
	</select>
</mapper>