<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lib.bookbrain.dao.DebitMapper">
	<resultMap id="BaseResultMap" type="com.lib.bookbrain.model.entity.Debit">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="return_deadline" jdbcType="DATE" property="returnDeadline"/>
		<result column="return_date" jdbcType="DATE" property="returnDate"/>
		<result column="creation_time" jdbcType="TIMESTAMP" property="creationTime"/>
		<result column="last_updated_time" jdbcType="TIMESTAMP" property="lastUpdatedTime"/>
		<result column="revision" jdbcType="INTEGER" property="revision"/>
		<association property="book" javaType="com.lib.bookbrain.model.entity.Book" column="book_id"
		             select="com.lib.bookbrain.dao.BookMapper.getDebitBookById"/>
		<association property="createdBy" column="created_by" javaType="com.lib.bookbrain.model.entity.User"
		             select="com.lib.bookbrain.dao.UserMapper.getByOperatorId"/>
		<association property="updatedBy" column="updated_by" javaType="com.lib.bookbrain.model.entity.User"
		             select="com.lib.bookbrain.dao.UserMapper.getByOperatorId"/>
	</resultMap>
	<select id="list" resultMap="BaseResultMap">
		select *
		from debit;
	</select>
	<select id="count">
		select count(*)
		from debit;
	</select>
	<select id="getById" resultMap="BaseResultMap">
		select distinct d.`id`,
		                d.`book_id`,
		                d.`return_deadline`,
		                d.`return_date`,
		                d.`created_by`,
		                d.`creation_time`,
		                d.`revision`
		from debit d
		where d.`id` = #{id}
	</select>

	<delete id="delete">
		delete
		from debit d
		where d.`id` = #{id}
	</delete>

	<insert id="insert" parameterType="com.lib.bookbrain.model.entity.Debit" useGeneratedKeys="true"
	        keyProperty="id">
		insert into debit (`book_id`, `return_deadline`,
		                   `return_date`, `created_by`, `creation_time`,
		                   `updated_by`, `last_updated_time`, `revision`)
		values (#{book.id}, DATE_ADD(CURDATE(), INTERVAL 30 DAY),
		        null, #{createdBy.id}, NOW(),
		        #{updatedBy.id}, NOW(), 0);
	</insert>

	<update id="update" parameterType="com.lib.bookbrain.model.exchange.Payload">
		update debit d
		<set>
			<if test="entity != null">
				<if test="entity.id != null">
					d.`book_id` = #{entity.id,jdbcType=INTEGER},
				</if>
				<if test="entity.returnDeadline != null">
					d.`return_deadline` = #{entity.returnDeadline,jdbcType=DATE},
				</if>
				<if test="entity.returnDate != null">
					d.`return_date` = #{entity.returnDate,jdbcType=DATE},
				</if>
				<if test="entity.updatedBy != null">
					d.`updated_by` = #{entity.updatedBy,jdbcType=INTEGER},
				</if>
			</if>
			<if test="1 == 1">
				d.`last_updated_time` = now(),
				d.`revision` = (1 + d.`revision`) % 2147483647,
			</if>
		</set>
		where d.`id` = #{id}
	</update>

	<update id="restore">
		update debit d, book b
		set b.`borrowable`        = 1,
		    d.`return_date`       = curdate(),
		    d.`last_updated_time` = now(),
		    d.`revision`          = (1 + d.`revision`) % 2147483647,
		    d.`updated_by`        = #{updatedBy.id}
		where d.`id` = #{id}
		  and d.`book_id` = b.`id`
		  and d.return_date is null
		  and d.`revision` = #{revision}
	</update>

	<select id="getToUpdate" resultMap="BaseResultMap">
		select *
		from debit d
		where d.`id` = #{id}
	</select>

	<select id="filteredList" resultMap="BaseResultMap">
		select *
		from debit d
		<where>
			<if test="entity != null">
			</if>
			<if test="filter != null">
			</if>
		</where>

		<trim>
			<if test="filter != null">
				<if test="filter.page != null">
					limit #{filter.page.start}, #{filter.page.end};
				</if>
			</if>
		</trim>
	</select>

	<select id="getLengthByFilter" resultType="int">
		select count(*)
		from debit d

		<where>
			<if test="entity != null">
			</if>
			<if test="filter != null">
			</if>
		</where>
	</select>
	<select id="getCountByUserId" resultType="int">
		select count(*)
		from debit d
		where d.`created_by` = #{id}
		  and d.`return_date` is null;
	</select>
	<select id="getExpiredByUserId" resultType="com.lib.bookbrain.model.entity.Debit">
		select *
		from debit d
		where d.`created_by` = #{id}
		  and d.`return_date` is null
		  and now() > d.`return_deadline`;
	</select>
	<select id="getBookCountByBookIdAndUserId" resultType="int">
		select (select b.`book_info_id`
		        from book b
		        where b.`id` = #{bookId})
			       in
			    (select b.`book_info_id`
			     from debit d
				          inner join book b on d.`book_id` = b.`id`
			     where d.`created_by` = #{userId})
	</select>
	<select id="getTodayDebitCount" resultType="java.lang.Integer">
		select count(*)
		from debit d
		where date(d.`creation_time`) = current_date
	</select>
	<select id="getTodayDebitReturnCount" resultType="java.lang.Integer">
		select count(*)
		from debit d
		where d.`return_date` is not null
		  and date(d.`return_date`) = current_date
		  and date(d.`last_updated_time`) = current_date
	</select>
	<select id="getCurrentDebitCountByUser" resultType="java.lang.Integer">
		select count(*)
		from debit d
		where d.`created_by` = #{id}
		  and d.`return_date` is null;
	</select>
	<select id="getCurrentExpiredDebitCountByUser" resultType="java.lang.Integer">
		select count(*)
		from debit d
		where d.`created_by` = #{id}
		  and d.`return_date` is null
		  and now() > d.`return_deadline`
		limit 1;
	</select>
	<select id="getCurrentDebitHasTheBookInfoByUserId" parameterType="com.lib.bookbrain.model.exchange.Payload"
	        resultType="java.lang.Boolean">
		select (
			       #{bookInfoId}
				       in
			       (select distinct b.`book_info_id`
			        from debit d
				             inner join book b on d.`book_id` = b.`id`
			        where d.`created_by` = #{userId}
				       and d.`return_date` is null)
			       );
	</select>
	<select id="getCurrentUnreturnedByUser" resultMap="BaseResultMap">
		select d.`id`,
		       d.`book_id`,
		       d.`return_deadline`,
		       d.`creation_time`,
		       d.`revision`
		from debit d
		where d.`created_by` = #{id}
		  and d.`return_date` is null
	</select>
</mapper>