<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lib.bookbrain.dao.LogMapper">
	<resultMap id="BaseResultMap" type="com.lib.bookbrain.model.entity.Log">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result property="type" column="type" jdbcType="VARCHAR"/>
		<result property="serviceName" column="service_name" jdbcType="VARCHAR"/>
		<result property="input" column="input" jdbcType="LONGVARCHAR"/>
		<result property="output" column="output" jdbcType="LONGVARCHAR"/>
		<result property="elapsedTime" column="elapsed_time" jdbcType="INTEGER"/>
		<result property="creationTime" column="creation_time" jdbcType="TIMESTAMP"/>
		<association property="createdBy" column="created_by" javaType="com.lib.bookbrain.model.entity.User"
		             select="com.lib.bookbrain.dao.UserMapper.getByOperatorId"/>
	</resultMap>
	<select id="list" resultMap="BaseResultMap">
		select *
		from log l
		order by l.creation_time desc
		;
	</select>
	<select id="count">
		select count(*)
		from log;
	</select>
	<insert id="create" keyProperty="id" keyColumn="id"
	        useGeneratedKeys="true" parameterType="com.lib.bookbrain.model.entity.Log">
		insert into log(`type`, `service_name`, `input`, `output`, `elapsed_time`, `creation_time`,
		`created_by`)
		values (#{type}, #{serviceName}, #{input}, #{output}, #{elapsedTime}, now(), #{createdBy.id})
	</insert>
	<update id="alter" parameterType="com.lib.bookbrain.model.entity.Log">
		update log l
		set l.`elapsed_time` = #{elapsedTime},
		l.`output`=#{output}
		where l.`id` = #{id}
	</update>

	<select id="getById" resultMap="BaseResultMap">
		select *
		from log l
		where l.`id` = #{id};
	</select>

	<select id="filteredList" resultMap="BaseResultMap">
		select *
		from log l
		<where>
		</where>
		order by l.`creation_time` desc
		<trim>
			<if test="filter != null">
				<if test="filter.page != null">
					limit #{filter.page.start}, #{filter.page.end}
				</if>
			</if>
		</trim>
	</select>

	<select id="getLengthByFilter" resultType="int">
		select count(*)
		from log l
		<where>
		</where>
	</select>
</mapper>